# Only the required project is allowed
*/
!DevStacks.WebApi.Core
!DevStacks.WebApi.Core/*
./DevStacks.sln

# GitHub Actions
!.github
!.github/*

# .NET
nuget.config
bin/
obj/

# OS
.DS_Store

# IDE
.idea
.vscode